/* Size Properties */

:root {

  --uui-size-half-base-unit: 3px;
  --uui-size-base-unit: 6px;
  --uui-size-xsmall: 9px;
  --uui-size-small: 12px;
  --uui-size-medium: 24px;
  --uui-size-large: 30px;
  --uui-size-xlarge: 42px;
  --uui-size-xxlarge: 66px;

  /** Other size props: */
  --uui-size-border-radius: 3px;
}
